.task-card {
  width: 18rem;
  transition: transform 0.3s, box-shadow 0.3s;
  border-radius: 10px;
}

.task-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.status {
  font-weight: bold;
}

.text-success {
  color: green;
}

.text-danger {
  color: red;
}
